In [1]:
import pandas as pd

In [3]:
data_series = pd.Series(["ucla","uc irvine","uga","gatech"])
data_series

0         ucla
1    uc irvine
2          uga
3       gatech
dtype: object

In [4]:
states_dicts = [{"state": "georgia", "abbreviation": "ga"},
               {"state": "new york", "abbreviation": "ny"}]
df_states = pd.DataFrame(states_dicts)
df_states

  abbreviation     state
0           ga   georgia
1           ny  new york

In [6]:
df = pd.DataFrame({"states": ["ga", "ny", "nc","sc"],
                  "cities": ["atlanta","new york city","raleigh", "columbia" ]})
df

  states         cities
0     ga        atlanta
1     ny  new york city
2     nc        raleigh
3     sc       columbia